@using Theatre_TimeLine.Contracts
@using Theatre_TimeLine.Models
@using Theatre_TimeLine.Services
@namespace Theatre_TimeLine.Components
@inherits LayoutComponentBase
@inject ISecurityGroupService SecurityGroupService
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudCard Class="card">
    <MudCardHeader Class="card card-header">@this.TenantContainer.TenantName</MudCardHeader>
    <MudCardContent>
        <h6>
            ID: <MudLink Href="@GetTenantRoadLink()" Underline="Underline.Always">@TenantContainer.TenantId</MudLink>
        </h6>
        Description:
        <p>
            @TenantContainer.Description
        </p>
        <h6>Roads:</h6>
        <MudExpansionPanels>
            @foreach (IRoadToThere road in this.authorizedRoads)
            {
                <MudExpansionPanel Text="@road.ToString()">
                    <RoadConfiguration Road="@road" OnSaveRoad="@OnSaveRoad" OnRemoveRoad="@OnRemoveRoad" />
                </MudExpansionPanel>
                <br />
            }
        </MudExpansionPanels>
    </MudCardContent>
    <MudCardActions>
        <MudButtonGroup Color="Color.Primary">
            <MudButton OnClick="ButtonClicked">@buttonText.Item2</MudButton>
            <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                @foreach (string action in tenantActions)
                {
                    <MudMenuItem OnClick="() => SetButtonText(Array.IndexOf(tenantActions, action))">@action</MudMenuItem>
                }
            </MudMenu>
        </MudButtonGroup>
    </MudCardActions>
</MudCard>

@code {
    private static readonly string[] tenantActions =
    {
        "Create Road",
        "Remove Tenant"
    };

    private Tuple<int, string> buttonText = Tuple.Create(0, tenantActions[0]);
    private string email = string.Empty;
    private List<IRoadToThere> authorizedRoads = new List<IRoadToThere>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            SetButtonText(0);
            email = await AuthenticationStateProvider.GetAuthenticationStateAsync()
            .ContinueWith(ctx =>
            {
                return ctx.Result?.User.GetEmail() ?? string.Empty;
            })
            .ConfigureAwait(false);
            IList<IRoadToThere> roads = new List<IRoadToThere>();
            foreach (var road in TenantContainer.Roads)
            {
                var has = await SecurityGroupService
                    .HasRequiredPerms(
                        RequiredSecurityLevel.TenantManager | RequiredSecurityLevel.Global,
                        email,
                        road.TenantId,
                        road.RoadId);
                if (has)
                {
                    roads.Add(road);
                }
            }

            this.authorizedRoads = new List<IRoadToThere>(roads);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [Parameter]
    public ITenantContainer TenantContainer { get; set; } = new TenantContainer();

    [Parameter]
    public Action<ITenantContainer>? OnRemoveTenant { get; set; }

    [Parameter]
    public Action<ITenantContainer>? OnCreateRoad { get; set; }

    [Parameter]
    public Action<IRoadToThere>? OnSaveRoad { get; set; }

    [Parameter]
    public Action<Guid>? OnRemoveRoad { get; set; }


    [Parameter]
    public Action<ITenantContainer>? OnClick { get; set; }

    private void SetButtonText(int id)
    {
        buttonText = Tuple.Create(id, tenantActions[id]);
    }

    private void ButtonClicked()
    {
        OnClick?.Invoke(TenantContainer);
        switch (buttonText.Item1)
        {
            case 0:
                OnCreateRoad?.Invoke(TenantContainer);
                break;
            case 1:
                OnRemoveTenant?.Invoke(TenantContainer);
                break;
        }
    }

    private string GetTenantRoadLink()
    {
        return $"/RoadToThere/{TenantContainer.TenantId}";
    }
}
